@media not print {
	body {
		height: 100%;
		width: 100%;
		overflow: hidden;
		overflow-x: hidden;
		position: fixed;
	}
}

CopeTubeUI {
	overflow: auto;
	overflow-x: hidden;
	display: grid;
	grid-auto-columns: max-content;
	grid-gap: 15px;
	grid-template-areas: "a b";
	user-select: none;
	-webkit-user-select: none;
}

#template, #visualization, #controls { column-span: none; vertical-align: top; }
select, label, output, input, option, button, :not(svg) > text {
	font-size: 10pt;
	font-family: osifont,"Apple Color Emoji","Android Emoji","Segoe UI Emoji";
}
.units {
	font-size: 8pt;
}
input, button {
	background: transparent;
	border: 0;
	border-style: none;
	border-color: transparent;
	outline: none;
	outline-offset: 0;
	box-shadow: none;
}
input:focus, button:focus {
	outline: groove;
	border-color: lightblue;
}
input[type=text] {
	width: 8.5ch;
}
input[type=number] {
	width: 2.5ch;
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=color] {
	width: 20px;
}
select {
	-webkit-appearance: none;
	border: none;
}

:root { color-scheme: light dark; }

/* firefox is confuse https://bugzilla.mozilla.org/show_bug.cgi?id=1529323 */
/* https://webkit.org/blog/8840/dark-mode-support-in-webkit/ */

@media (prefers-color-scheme: dark) { 
	html, input, button, select {
		color: white;
	}
	html {
		background: black;
	}
	input, button, select {
		background: transparent;
	}
}
