svg { overflow: visible; }
svg > text {
	font-size: 10pt;
	font-family: Y14M, osifont,"Apple Color Emoji","Android Emoji","Segoe UI Emoji";
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
.miterTemplate { border: 1px solid red; }

@media not print {
	.miterTemplate {
		transform-origin: top left;
		transform:
			scaleX(var(--ppi-scale-factor,0))
			scaleY(var(--ppi-scale-factor,0))
	}
}
.wingding { font-family: webdings; }
/* text { font-family: futura; font-style: italic; font-variant: small-caps; } */
.cope_vbox { margin-left: 0; margin-top: 0; }
.cope { stroke: black; vector-effect: non-scaling-stroke; stroke-width: 1px; }
.cope_bbox { stroke: green; vector-effect: non-scaling-stroke; stroke-width: 1px; }
.guides { margin-top: 0; }
.titles { fill: purple; font-size: 8pt; }
.guides { stroke: purple; stroke-width: 1pt; }
.tab { font-size: 6pt; }
.tabcut { stroke: red; stroke-width: 1px; stroke-dasharray: 9, 5; fill: none; }
.record_strip { padding: 3px; }

svg.turned text {
	text-anchor: end;
	transform: rotate(90deg);
}

svg.flipped text {
	text-anchor: end;
	/* ???? ^^^ idk wtf but is really important! */
	transform: scale(-1,-1);
}

.previewJoinTube { stroke: black; vector-effect: non-scaling-stroke; stroke-width: 1px; }
.previewCutTube { stroke: black; fill: none; vector-effect: non-scaling-stroke; stroke-width: 1px; }
.previewLabel { stroke: red; fill: none; vector-effect: non-scaling-stroke; stroke-width: 1px; }
.previewCope { stroke: black; vector-effect: non-scaling-stroke; stroke-width: 1px; }
.previewAnglePull {
	cursor: grab;
	height: 100px;
	width: 100px;
}
.previewAnglePull[type=range]:focus {
	outline: none;
	cursor: grab;
}
.previewAnglePull[type=range] {
	-webkit-appearance: none;
}

.previewGauge { stroke: black; fill: none; vector-effect: non-scaling-stroke; stroke-width: 1px; }

.tile_strip {
	font-size: 8pt;
}

@media (prefers-dark-interface) {
	.previewGauge { stroke: white; }
	.tile_strip { stroke: magenta; }
	.titles { fill: magenta; }
}
