{
    "env": {
        "browser": true,
         "es6": true
    },

    "globals": {
        "React": true
    },

    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },

    "plugins": [
        "react"
    ]
}
