@font-face {
	font-family: Symbola;
	src: local(Symbola);
	src: url(Symbola.ttf);
}

@font-face {
	font-family: Y14M;
	src: local(Y14.5M-2009);
	src: url(Y14.5M-2009.ttf);
}

#CopeTubeApp { columns: 2; -webkit-columns: 2; }
#template { column-span: 1; }
label, output, input, option, button { font-family: Courier; }
svg { overflow: visible; }
#miterTemplate { border: 1px solid red; }
/* .emoji { font-family: Symbola,"Open Sans Emoji","Apple Color Emoji","Android Emoji","Segoe UI Emoji"; } */
/* https://github.com/MorbZ/OpenSansEmoji */
/* no support for 32-bit rgb *Emoji fonts in PhantomJS yet, see:
	https://code.google.com/p/chromium/issues/detail?id=62435 */
.wingding { font-family: webdings; }
/* text { font-family: futura; font-style: italic; font-variant: small-caps; } */
text { font-family: Y14M,osifont; }
	/* http://www.fontspace.com/micronus/y145m-2009 */
	/* https://code.google.com/p/osifont/ */
#cope_vbox { margin-left: 0; margin-top: 0; }
#cope { stroke: black; vector-effect: non-scaling-stroke; stroke-width: 1px; }
#cope_bbox { stroke: green; vector-effect: non-scaling-stroke; stroke-width: 1px; }
#guides { margin-top: 0; }
#titles { fill: purple; font-size: 8pt; }
#join_od { writing-mode: tb; text-anchor: middle; }
#guides { stroke: purple; stroke-width: 1pt; }
#tab { font-size: 6pt; }
#tabcut { stroke: red; stroke-width: 1px; stroke-dasharray: 9, 5; fill: none; }
#record_strip { padding: 3px; }
/*
.flipped text { text-anchor: start; writing-mode:rl-tb; }
.flipped tspan { text-anchor:end; direction:rtl; unicode-bidi: bidi-override; glyph-orientation-horizontal: 180deg; }
.flipped tspan { text-anchor: end; direction:rtl; unicode-bidi: bidi-override; }
flip { display: inline-block; -webkit-transform: scale(-1,-1); }
.flipped text { text-anchor: end; -webkit-transform: scale(-1,-1); }
*/
.flipped text { text-anchor: end; -webkit-transform-origin: center center; -webkit-transform: rotate(180deg); }

#controls: { column-span: 1; }
